@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body::-webkit-scrollbar {
    width: 4px; 
    height: 4px;
  }

  body::-webkit-scrollbar-track {
    background: #f5f5f5;
    border-radius: 10px;
  }

  body::-webkit-scrollbar-thumb {
    background: #b3b3b3;
    border-radius: 10px;
  }

  :root {
    --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.125);
    --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.125);
    --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.125);
    --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.115);
    --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.125);

    font-family: "Poppins", sans-serif;
  }

  @media (prefers-color-scheme: dark) {
    body::-webkit-scrollbar-track {
      background: rgba(50, 50, 50, 0.3);
    }

    body::-webkit-scrollbar-thumb {
      background: rgba(70, 70, 70, 0.4); /* Darker glassy effect for thumb */
      border: 2px solid rgba(50, 50, 50, 0.5);
    }

    :root {
      /* Dark mode colors */
      --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
      --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
      --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
      --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.25);
      --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);
      /* --color-glassy: rgba(0, 0, 0, 0.8); Gassy black with transparency */

      font-family: "Poppins", sans-serif;
    }
  }
}
